<div class="news-container">
    {% if news|length > 0 %}
        {% for singleNews in news %}
            <div class="single-news">
                <div class="news-image">
                    <img src="{{ singleNews.getImage }}" alt="">
                </div>

                <div class="news-banderole">
                    <div class="news-banderole-content">
                        <h2>{{ singleNews.getTitle }}</h2>

                        <span class="news-date">{{ singleNews.getDate.getWeekday | weekday }}
                            | {{ singleNews.getDate }}</span>
                    </div>
                </div>

                <div class="news-text">
                    <p>{{ singleNews.getText }}</p>
                </div>

                {% if singleNews.facebookLink|length > 0 %}
                    <div class="facebook-link">
                        <a href="{{ singleNews.facebookLink }}" target="new">
                            <img src="{{ templateDir }}/img/fb.png" alt="Teaserbild vom Café">
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="no-news page-container">
            Es sind keine News vorhanden. Bitte schauen Sie später erneut nach.
        </div>
    {% endif %}
</div>