<footer>
    <div class="footer-container">
        <div class="second-navigation-container">
            <img src="{{ templateDir }}/img/logo.png" alt="Logo Footer">

            <div class="second-navigation">
                <p><a href="{{ route('philosophie') }}">Philosophie</a></p>
                <p><a href="{{ route('album') }}">Impressionen</a></p>
                <p><a href="{{ route('anfahrt') }}">Anfahrt</a></p>
                <p><a href="{{ templateDir }}/document/speisekarte.pdf" target="_blank">Speisekarte</a></p>
                <p><a href="{{ route('impressum') }}">Kontakt & Impressum</a></p>
            </div>
        </div>

        <div class="contact">
            <h3>Kontakt</h3>

            <p>Wilhelmstraße 7<br/>
                06406 Bernburg<br/>
                01525-5366682<br/>
                <a href="mailto:kontakt@cafewilhelmsieben.de">kontakt@cafewilhelmsieben.de</a><br/>
                Do-Di 10-18Uhr
            </p>

            <div class="social-media">
                <a href="https://www.facebook.com/Wilhelm7ieben/">
                    <img src="{{ templateDir }}/img/fb.png" alt="Facebook Logo">
                    <p>Besuch uns auf Facebook</p>
                </a>
            </div>
        </div>

        <div class="team-foto">
            <img src="{{ templateDir }}/img/footer_paar.png" alt="">
        </div>
    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111319617-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111319617-1');
</script>

