<head>
    <title>Café Wilhelm 7ieben</title>

    <link rel="stylesheet" href="{{ templateDir }}/css/main.css">
    <link rel="stylesheet" href="{{ templateDir }}/css/fancybox.min.css">
    <link rel="stylesheet" href="{{ templateDir }}/js/editor/minified/themes/default.min.css">

    <script src="{{ templateDir }}/js/jquery-3.2.1.min.js"></script>
    <script src="{{ templateDir }}/js/responsiveSlides.min.js"></script>
    <script src="{{ templateDir }}/js/jquery.fancybox.min.js"></script>
    <script src="{{ templateDir }}/js/editor/minified/jquery.sceditor.bbcode.min.js"></script>

    <script src="{{ templateDir }}/js/main.js"></script>
</head>
