<div class="album-edit-container page-container">
    <div class="loggedin-banderole banderole"><h1>Album editieren</h1></div>

    <div class="back-link"><a href="{{ route('loggedin') }}">Zurück</a></div>

    <div class="album-edit-form-container">
        <form action="{{ route('album-edit-save') }}" method="POST" name="albumedit" enctype="multipart/form-data">
            <div>
                <label for="title">
                    Titel<br>
                    <input type="text" name="title"
                           required {% if album is defined %} value="{{ album.getTitle }}"{% endif %}/>
                </label>
            </div>
            <div class="image-edit-container">
                <div class="insert-new-image">
                    <div>
                        <label for="imageNew">
                            Neues Bild hochladen
                            <input type="file" name="imageNew">
                        </label>
                    </div>
                    <div>
                        <label for="imageNewTitle">
                            Titel
                            <input type="text" name="imageNewTitle">
                        </label>
                    </div>
                </div>

                {% if album.getImageList|length <= 0 %}
                    <div class="no-images">
                        <div class="no-result">Es gibt noch keine Bilder zu diesem Album.</div>
                    </div>
                {% else %}
                    <div class="image-edit-list">
                        {% for image in album.getImageList %}
                            <div class="image-edit">
                                <div class="image-in-list">
                                    <img src="{{ image.getImageUrl }}" alt="">
                                </div>
                                <div>
                                    <label for="image[{{ image.getImageId }}][title]">
                                        Titel
                                        <input type="text" name="image[{{ image.getImageId }}][title]"
                                               value="{{ image.getTitle }}">
                                    </label>
                                </div>
                                <input type="hidden" name="image[{{ image.getImageId }}][imageId]"
                                       value="{{ image.getImageId }}">
                                <input type="hidden" name="image[{{ image.getImageId }}][imageUrl]"
                                       value="{{ image.getImageUrl }}">
                                <input type="hidden" name="image[{{ image.getImageId }}][albumId]"
                                       value="{{ image.getAlbumId }}">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div>
                <input type="hidden" name="albumDate" value="{{ "now"|date("Y-m-d H:i:s") }}">
                {% if album is defined %}
                    <input type="hidden" name="albumId" value="{{ album.getAlbumId }}">
                {% endif %}
            </div>

            <div>
                <input type="submit" name="submit" value="senden">
            </div>
        </form>
    </div>
</div>