<div class="loggedin-container page-container">
    <div class="loggedin-banderole banderole"><h1>Seitenverwaltung</h1></div>

    {% if notificationMessage is defined %}
        {% include ('module/notification.twig') %}
    {% endif %}

    <div class="news-edit-container">
        <div class="news-new">
            <a href="{{ route('news-edit') }}" class="backend-button">News erstellen</a>
        </div>

        <h2>News bearbeiten</h2>

        <div class="news-edit">
            {% if news|length > 0 %}
                {% for singleNews in news %}
                    <div class="single-news">
                        {% set newsId = {'newsId': singleNews.getNewsId} %}

                        <a href="{{ route('news-edit', newsId) }}"></a>

                        <div class="news-image">
                            <img src="{{ singleNews.getImage }}" alt="">
                        </div>

                        <div class="news-title">
                            <h3>{{ singleNews.getTitle }}</h3>
                        </div>

                        <div class="news-text">
                            <p>{{ shortener(singleNews.getText) }}</p>
                        </div>

                        <div class="news-date">{{ singleNews.getDate.getDateString }}</div>

                        <div class="news-delete">
                            <a href="{{ route('news-delete', newsId) }}" class="js-news-delete">News löschen</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="galerie-edit-container">

</div>