<div class="loggedin-container page-container">
    <div class="loggedin-banderole banderole"><h1>Seitenverwaltung</h1></div>

    {% if notificationMessage is defined %}
        {% include ('module/notification.twig') %}
    {% endif %}

    {# News editing #}
    <div class="news-edit-container">
        <div class="news-new">
            <a href="{{ route('news-edit') }}" class="backend-button">News erstellen</a>
        </div>

        <h2>News bearbeiten</h2>

        <div class="news-edit">
            {% if news|length > 0 %}
                {% for singleNews in news %}
                    <div class="single-news">
                        {% set newsId = {'newsId': singleNews.getNewsId} %}

                        <a href="{{ route('news-edit', newsId) }}"></a>

                        <div class="news-image">
                            <img src="{{ singleNews.getImage }}" alt="">
                        </div>

                        <div class="news-title">
                            <h3>{{ singleNews.getTitle }}</h3>
                        </div>

                        <div class="news-date">{{ singleNews.getDate.getDateString }}</div>

                        {% if singleNews.hasEvent %}
                            <div>Event: <br/>
                                {{ singleNews.getEvent.getName }}
                            </div>
                        {% endif %}

                        <div class="news-delete">
                            <a href="{{ route('news-delete', newsId) }}" class="js-delete">löschen</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>Es gibt keine News.</div>
            {% endif %}
        </div>
    </div>

    {# Event editing #}
    <div class="event-edit-container">
        <div class="event-new">
            <a href="{{ route('event-edit') }}" class="backend-button">Event erstellen</a>
        </div>

        <h2>Events bearbeiten</h2>

        <div class="event-edit">
            {% if allEvents|length > 0 %}
                {% for singleEvent in allEvents %}
                    <div class="single-event">
                        {% set eventId = {'eventId': singleEvent.getEventId} %}

                        <a href="{{ route('event-edit', eventId) }}">
                            {{ singleEvent.getName }} | {{ singleEvent.getDate.getDateString }}
                        </a>

                        <div class="event-delete">
                            <a href="{{ route('event-delete', eventId) }}" class="js-delete delete-button">löschen</a>
                        </div>

                    </div>
                {% endfor %}
            {% else %}
                <div class="no-result">Es gibt keine Events.</div>
            {% endif %}
        </div>
    </div>

    {# Album editing #}
    <div class="album-edit-container">
        <div class="album-new">
            <a href="{{ route('album-edit') }}" class="backend-button">Album erstellen</a>
        </div>

        <h2>Album bearbeiten</h2>

        <div class="album-edit">
            {% if albums|length > 0 %}
                {% for singleAlbum in albums %}
                    <div class="single-album">
                        {% set albumId = {'albumId': singleAlbum.getAlbumId} %}

                        <a href="{{ route('album-edit', albumId) }}">
                            {{ singleAlbum.getTitle }} | {{ singleAlbum.getAlbumDate }} | Bilder {{ singleAlbum.getAmountOfImagesInAlbum }}
                        </a>

                        <div class="album-delete">
                            <a href="{{ route('album-delete', albumId) }}" class="js-delete delete-button">löschen</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-result">Es gibt noch kein Album.</div>
            {% endif %}
        </div>
    </div>
</div>