<div class="newsedit-container page-container">
    <div class="loggedin-banderole banderole"><h1>News editieren</h1></div>

    <div><a href="{{ route('loggedin') }}">Zurück</a></div>


    <div class="newsedit-form-container">
        <form action="{{ route('news-edit-save') }}" method="POST" name="newsedit">
            <div>
                <label for="title">
                    Titel<br>
                    <input name="title" required {% if news is defined %} value="{{ news.getTitle }}"{% endif %}/>
                </label>
            </div>

            <div>
                <label for="facebookLink">
                    Facebook Link<br>
                    <input name="facebookLink" {% if news is defined %} value="{{ news.getFacebookLink }}"{% endif %}/>
                </label>
            </div>

            <div>
                <label for="eventId">
                    <select name="eventId">
                        <option value="">kein Event</option>
                        {% for event in allEvents %}
                            <option value="{{ event.getEventId }}" {% if news.getEvent.getEventId == event.getEventId %} selected {% endif %}>{{ event.getName }}
                                | {{ event.getDate }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div>
                <label for="text">
                    Facebook Link<br>
                    <textarea name="text"
                              rows="10">{% if news is defined %}{{ news.getText }}{% endif %}</textarea>
                </label>
            </div>

            <div>
                <input type="hidden" name="newsDate" value="{{ "now"|date("Y-m-d H:i:s") }}">
                {% if news is defined %}
                    <input type="hidden" name="newsId" value="{{ news.getNewsId }}">
                    <input type="hidden" name="image" value="{{ news.getImage }}">
                    <input type="hidden" name="oldEventId" value="{{ news.getEvent.getEventId }}">
                {% endif %}
            </div>
            <div>
                <input type="submit" name="submit" value="senden">
            </div>
        </form>
    </div>
</div>